# Recap


Before we start, I will copy some idea that we got in previous stages :
#### Part 1

- Here we have 1383 building, 758 in training data and the rest in test data.
- We have 276923 training data, and 81827 test data
- We have many missing value in temperature
- etc

- In the data train each building is provided with the same number of sample trainings, namely samples in units of hours in 28 days. while in the data test, the number of data samples for each building varies, there are 4 days, 12 days, etc.

For more detail you can check direcly to the notebook https://github.com/fauzantaufik/Cold-Start-Energy-Forecasting/blob/master/EXPLOLATORY%20DATA%20TO%20DEFINE%20PROBLEM%20DEEPLY.ipynb

#### Part 2

- seen that consumption from year to year is increasing, so maybe years will be a good feature to be the input in our model
- The month will also be a good feature. there is a seasonal pattern from month to month.
- There is some noise in data
- Consumption nearly uniform from hour to hour, but some date have pattern in consomption by hour to hour
- There is some correlation bettwen temperature/hour and consumption/hour

"""One of the challenges is in the way we fill in the missing values. because many buildings have a temperature value that is lost up to 100%. meaning that for one year the temperature inside the building is unknown!!.

we cannot fill this missing value with linear interpolation, even if it has to be non-linear we will have difficulty determining the degree of non-linearity.

Because all series IDs have the same pattern regarding the temperature value. then it's have to be good if we try to build a model that will predict the temperature value. this is a gonna be like other project though, but it's worth it since we have missinig value almost 50% in temperature""""

=======================================

"""For electricity consumption in each building, it seems that each building has a different level of electricity consumption. may depend on the type of building. there are buildings that always need electricity every time. there are also buildings that only require electricity when at certain times such as working hours and then a little consumption at night."""

Talk about electricity consumption : 
- There is a changes in consumption pattern over year. but it's not abvious the rule of pattern. and I dont know is it significant or not. but it's in my hipotesis.
- There is no really abvious pattern of electricity consumption over month and day of month.
- There is a pattern in the name of day, the consumpton is low in holiday (saturday and sunday) than in work days.
- There is a pattern in series of hours, which is the high consumption at work time.

We need to talk about Temperature due to we wanna build predictive model for temperature because of the need of fill in the missing value :
- The temperature seem to be increase over year.
- The temperature seem to be have seasonal pattern in series of month.
- The temperature seem to be constant in the day of month and in the day of week.
- Of course, the temperature is higher in the daytime hours

- the variance in consumption vs. lag increases with further lag
- temperature vs temperature lag-k seem have to be same 

One more problem is we have no sample for electricity consumption and temperature in 2012.

For more detail you check the notebook : https://github.com/fauzantaufik/Cold-Start-Energy-Forecasting/blob/master/Visualization%20Cold%20Start%20Energy%20Forecasting.ipynb

# Feature Engeenering

Substep of Feature Engeenering :

1. Feature Creation

    1.1 Feature Extractin of Time (Years, Months, Day of Week, Hours)
    
    1.2 Feature Over Time
    
    1.3 Adding Lag Feature
    
    1.4 Adding SMA (smooth moving avarage), pct_change
    
    1.5 Adding National Holiday Feature
    
    1.6 Adding meta data information
    
    
2. Data Cleaning

    2.1 Build Predictive Model for temperature
    
    2.2 Filling missing value of temperature by Predictive Model that have been build
    
    2.3 Cleaning Outlier
    
    
3. Feature Selection
    
    3.1 Inspecting by Heatmap

    3.2 Find coeffecient with linear model first
    
    3.3 RFECV

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
meta_data = pd.read_csv('meta.csv')
train_data = pd.read_csv('consumption_train.csv')
test_data = pd.read_csv('cold_start_test.csv')
submission = pd.read_csv('submission_format.csv')

In [3]:
submission[submission.prediction_window=='hourly'].head()

,pred_id,series_id,timestamp,temperature,consumption,prediction_window
31,31,101878,2014-04-08 00:00:00,18.85,0.0,hourly
32,32,101878,2014-04-08 01:00:00,19.00,0.0,hourly
33,33,101878,2014-04-08 02:00:00,19.00,0.0,hourly
34,34,101878,2014-04-08 03:00:00,18.15,0.0,hourly
35,35,101878,2014-04-08 04:00:00,17.00,0.0,hourly

In [4]:
test_data[test_data.consumption==0]

       Unnamed: 0  series_id            timestamp  consumption  temperature
4261         4261     101464  2013-11-05 13:00:00          0.0        22.15
4262         4262     101464  2013-11-05 14:00:00          0.0        23.00
78730       78730     100721  2012-06-05 10:00:00          0.0          NaN
78731       78731     100721  2012-06-05 11:00:00          0.0          NaN

In [5]:
test_data[test_data.series_id==100721].head()

       Unnamed: 0  series_id            timestamp    consumption  temperature
78624       78624     100721  2012-06-01 00:00:00   80921.671453          NaN
78625       78625     100721  2012-06-01 01:00:00   63264.995507          NaN
78626       78626     100721  2012-06-01 02:00:00   61655.566815          NaN
78627       78627     100721  2012-06-01 03:00:00   69971.508388          NaN
78628       78628     100721  2012-06-01 04:00:00  100214.655903          NaN

In [5]:
submission.prediction_window.unique()

array(['daily', 'weekly', 'hourly'], dtype=object)

In [6]:
set(submission.series_id) == set(test_data.series_id)

True

In [7]:
"""Change the types of timestamp columns and set the index"""

train_data.timestamp = pd.to_datetime(train_data.timestamp)
test_data.timestamp = pd.to_datetime(test_data.timestamp)

train_data.index = train_data.timestamp
test_data.index = test_data.timestamp

train_data.drop('timestamp', axis=1, inplace=True)
train_data.drop('Unnamed: 0', axis=1, inplace=True)

test_data.drop('timestamp', axis=1, inplace=True)
test_data.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
meta_data.head()

,series_id,surface,base_temperature,monday_is_day_off,tuesday_is_day_off,wednesday_is_day_off,thursday_is_day_off,friday_is_day_off,saturday_is_day_off,sunday_is_day_off
0,100003,x-large,low,False,False,False,False,False,True,True
1,100004,x-large,low,False,False,False,False,False,True,True
2,100006,x-small,low,False,False,False,False,False,True,True
3,100008,x-small,low,False,False,False,False,False,True,True
4,100010,x-small,low,False,False,False,False,False,True,True

In [9]:
day_off = meta_data.columns[3:]

count_day_off = {'{} count'.format(day) : meta_data[day].sum() for day in day_off}

count_day_off

{'friday_is_day_off count': 17,
 'monday_is_day_off count': 4,
 'saturday_is_day_off count': 1258,
 'sunday_is_day_off count': 1274,
 'thursday_is_day_off count': 7,
 'tuesday_is_day_off count': 4,
 'wednesday_is_day_off count': 7}

In [10]:
import statsmodels.api as sm

def evaluate_feature_rf(x, y, metrics) :
    model_evaluate = RandomForestRegressor(criterion='mae')
    model_evaluate.fit(x, y)
    score = metrics(y, model_evaluate.predict(x))
    
    plt.barh(model_evaluate.feature_importances_, x.columns)
    plt.title('Feature Importances')
    plt.show()
    
    print('Score : {}'.format(score))
    
def evaluate_feature_dtr(x, y, metrics) :
    model_evaluate = DecisionTreeRegressor(criterion='mae')
    model_evaluate.fit(x, y)
    score = metrics(y, model_evaluate.predict(x))
    
    plt.barh(model_evaluate.feature_importances_, x.columns)
    plt.title('Feature Importances')
    plt.show()
    
    print('Score : {}'.format(score))
    
def feature_summary(x, y, metrics) :
    linear_features = sm.add_constant(x)
    model = sm.OLS(y, x)
    results = model.fit()  # fit the model
    
    print(results.summary())
    print(results.pvalues)
    
    prediction = results.predict(x)
    score = metrics(y.values, prediction)
    print("Mean Absolute Error {}".format(score))

### 1.1 Feature Extraction of Time

In [11]:
train_data['year'] = train_data.index.year
train_data['month'] = train_data.index.month_name()
train_data['dayofweek'] = train_data.index.day_name()
train_data['hour'] = train_data.index.hour

test_data['year'] = test_data.index.year
test_data['month'] = test_data.index.month_name()
test_data['dayofweek'] = test_data.index.day_name()
test_data['hour'] = test_data.index.hour

In [12]:
train_data.head()

,series_id,consumption,temperature,year,month,dayofweek,hour
timestamp,,,,,,,
2014-12-24 00:00:00,103088,101842.233424,NaN,2014,December,Wednesday,0
2014-12-24 01:00:00,103088,105878.048906,NaN,2014,December,Wednesday,1
2014-12-24 02:00:00,103088,91619.105008,NaN,2014,December,Wednesday,2
2014-12-24 03:00:00,103088,94473.706203,NaN,2014,December,Wednesday,3
2014-12-24 04:00:00,103088,96976.755526,NaN,2014,December,Wednesday,4

In [13]:
test_data.head()

,series_id,consumption,temperature,year,month,dayofweek,hour
timestamp,,,,,,,
2013-02-27 00:00:00,102781,15295.740389,17.00,2013,February,Wednesday,0
2013-02-27 01:00:00,102781,15163.209562,18.25,2013,February,Wednesday,1
2013-02-27 02:00:00,102781,15022.264079,18.00,2013,February,Wednesday,2
2013-02-27 03:00:00,102781,15370.420458,17.00,2013,February,Wednesday,3
2013-02-27 04:00:00,102781,15303.103213,16.90,2013,February,Wednesday,4

In [15]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 509376 entries, 2014-12-24 00:00:00 to 2017-12-18 23:00:00
Data columns (total 7 columns):
series_id      509376 non-null int64
consumption    509376 non-null float64
temperature    280687 non-null float64
year           509376 non-null int64
month          509376 non-null object
dayofweek      509376 non-null object
hour           509376 non-null int64
dtypes: float64(2), int64(3), object(2)
memory usage: 31.1+ MB

In [14]:
## Evaluation Feature Performance

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

train_data.year = train_data.year.astype('object')
train_data.hour = train_data.hour.astype('object')

feature_test = ['year', 'month', 'dayofweek', 'hour']
df_test=train_data[feature_test]
y= train_data.consumption

X = pd.get_dummies(df_test, drop_first=True)

C:\Users\Data Scientist\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [15]:
feature_summary(X, y, mean_absolute_error)

                            OLS Regression Results
==============================================================================
Dep. Variable:            consumption   R-squared:                       0.334
Model:                            OLS   Adj. R-squared:                  0.333
Method:                 Least Squares   F-statistic:                     5793.
Date:                Sat, 27 Oct 2018   Prob (F-statistic):               0.00
Time:                        15:02:19   Log-Likelihood:            -6.8241e+06
No. Observations:              509376   AIC:                         1.365e+07
Df Residuals:                  509332   BIC:                         1.365e+07
Df Model:                          44
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
year_2014            4.172e+04   1443.874     28.896      0.000    3.89e+04    4.46e+04
year_2015            3.699e+04   1199.275     30.843      0.000    3.46e+04    3.93e+04
year_2016            4.716e+04   1143.283     41.251      0.000    4.49e+04    4.94e+04
year_2017            6.163e+04   1101.734     55.939      0.000    5.95e+04    6.38e+04
month_August         1.387e+04   1079.658     12.843      0.000    1.18e+04     1.6e+04
month_December      -5684.3090   1194.142     -4.760      0.000   -8024.791   -3343.827
month_February       1.756e+04   1138.893     15.415      0.000    1.53e+04    1.98e+04
month_January       -1.861e+04   1122.716    -16.576      0.000   -2.08e+04   -1.64e+04
month_July          -3251.0889   1043.314     -3.116      0.002   -5295.952   -1206.225
month_June           1.782e+04   1061.365     16.793      0.000    1.57e+04    1.99e+04
month_March          -2.32e+04   1065.992    -21.767      0.000   -2.53e+04   -2.11e+04
month_May           -8503.9225   1036.683     -8.203      0.000   -1.05e+04   -6472.056
month_November       2144.6621   1021.185      2.100      0.036     143.172    4146.152
month_October        2.278e+04   1050.804     21.679      0.000    2.07e+04    2.48e+04
month_September      5899.9240   1027.818      5.740      0.000    3885.433    7914.415
dayofweek_Monday     2238.3932    819.302      2.732      0.006     632.588    3844.199
dayofweek_Saturday  -2.269e+04    818.299    -27.729      0.000   -2.43e+04   -2.11e+04
dayofweek_Sunday    -3.401e+04    818.669    -41.546      0.000   -3.56e+04   -3.24e+04
dayofweek_Thursday    1.13e+04    819.208     13.789      0.000    9690.666    1.29e+04
dayofweek_Tuesday    1.121e+04    819.300     13.688      0.000    9609.012    1.28e+04
dayofweek_Wednesday   1.28e+04    819.294     15.623      0.000    1.12e+04    1.44e+04
hour_1               2.552e+04   1442.776     17.690      0.000    2.27e+04    2.84e+04
hour_2               2.429e+04   1442.776     16.833      0.000    2.15e+04    2.71e+04
hour_3               2.365e+04   1442.776     16.394      0.000    2.08e+04    2.65e+04
hour_4               2.459e+04   1442.776     17.045      0.000    2.18e+04    2.74e+04
hour_5                2.96e+04   1442.776     20.517      0.000    2.68e+04    3.24e+04
hour_6               4.192e+04   1442.776     29.058      0.000    3.91e+04    4.48e+04
hour_7                5.48e+04   1442.776     37.985      0.000     5.2e+04    5.76e+04
hour_8               7.151e+04   1442.776     49.564      0.000    6.87e+04    7.43e+04
hour_9               8.547e+04   1442.776     59.242      0.000    8.26e+04    8.83e+04
hour_10              8.868e+04   1442.776     61.463      0.000    8.59e+04    9.15e+04
hour_11              8.893e+04   1442.776     61.637      0.000    8.61e+04    9.18e+04
hour_12              8.657e+04   1442.776     60.006      0.000    8.37e+04    8.94e+04
hour_13              7.959e+04   1442.776     55.165      0.000    7.68e+04    8.24e+04
hour_14              8.245e+04   1442.776     57.146      0.000    7.96e+04    8.53e+04
hour_15              8.287e+04   1442.776     57.436      0.000       8e+04    8.57e+04
hour_16              8.201e+04   1442.776     56.840      0.000    7.92e+04    8.48e+04
hour_17              7.827e+04   1442.776     54.248      0.000    7.54e+04    8.11e+04
hour_18              6.918e+04   1442.776     47.949      0.000    6.64e+04     7.2e+04
hour_19              5.945e+04   1442.776     41.203      0.000    5.66e+04    6.23e+04
hour_20              5.148e+04   1442.776     35.681      0.000    4.87e+04    5.43e+04
hour_21              4.042e+04   1442.776     28.015      0.000    3.76e+04    4.32e+04
hour_22              3.221e+04   1442.776     22.326      0.000    2.94e+04     3.5e+04
hour_23              2.947e+04   1442.776     20.427      0.000    2.66e+04    3.23e+04
==============================================================================
Omnibus:                   382738.663   Durbin-Watson:                   0.047
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          7948804.166
Skew:                           3.498   Prob(JB):                         0.00
Kurtosis:                      21.044   Cond. No.                         18.0
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
year_2014              1.882648e-183
year_2015              1.090080e-208
year_2016               0.000000e+00
year_2017               0.000000e+00
month_August            9.536257e-38
month_December          1.934924e-06
month_February          1.333031e-53
month_January           1.085813e-61
month_July              1.832601e-03
month_June              2.862598e-63
month_March            5.294472e-105
month_May               2.349770e-16
month_November          3.571436e-02
month_October          3.641591e-104
month_September         9.459462e-09
dayofweek_Monday        6.293912e-03
dayofweek_Saturday     4.184516e-169
dayofweek_Sunday        0.000000e+00
dayofweek_Thursday      3.010450e-43
dayofweek_Tuesday       1.213821e-42
dayofweek_Wednesday     5.208232e-55
hour_1                  5.280704e-70
hour_2                  1.447131e-63
hour_3                  2.184187e-60
hour_4                  3.970404e-65
hour_5                  1.643951e-93
hour_6                 1.750054e-185
hour_7                  0.000000e+00
hour_8                  0.000000e+00
hour_9                  0.000000e+00
hour_10                 0.000000e+00
hour_11                 0.000000e+00
hour_12                 0.000000e+00
hour_13                 0.000000e+00
hour_14                 0.000000e+00
hour_15                 0.000000e+00
hour_16                 0.000000e+00
hour_17                 0.000000e+00
hour_18                 0.000000e+00
hour_19                 0.000000e+00
hour_20                1.726600e-278
hour_21                1.456382e-172
hour_22                2.325718e-110
hour_23                 1.039082e-92
dtype: float64
Mean Absolute Error 98753.94693924116

### 1.2 Feature Over Time

In [34]:
temperature_rolling = train_data.dropna()['temperature'].rolling(24).agg(['mean', 'min', 'max', 'std'])
temperature_rolling = pd.concat([train_data.dropna().temperature, temperature_rolling], axis=1)
y = train_data.dropna()['consumption']

In [35]:
temperature_rolling.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 280687 entries, 2014-12-30 17:00:00 to 2017-12-14 23:00:00
Data columns (total 5 columns):
temperature    280687 non-null float64
mean           280664 non-null float64
min            280664 non-null float64
max            280664 non-null float64
std            280664 non-null float64
dtypes: float64(5)
memory usage: 12.8 MB

In [37]:
feature_summary(temperature_rolling.interpolate()[23:], y[23:], mean_absolute_error)

                            OLS Regression Results
==============================================================================
Dep. Variable:            consumption   R-squared:                       0.270
Model:                            OLS   Adj. R-squared:                  0.270
Method:                 Least Squares   F-statistic:                 2.077e+04
Date:                Sat, 27 Oct 2018   Prob (F-statistic):               0.00
Time:                        15:20:56   Log-Likelihood:            -3.7669e+06
No. Observations:              280664   AIC:                         7.534e+06
Df Residuals:                  280659   BIC:                         7.534e+06
Df Model:                           5
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
temperature  3134.3997     91.158     34.384      0.000    2955.733    3313.066
mean        -9238.2956    405.050    -22.808      0.000      -1e+04   -8444.408
min         -1.066e+04    350.140    -30.434      0.000   -1.13e+04   -9969.851
max          2.018e+04    399.556     50.498      0.000    1.94e+04     2.1e+04
std         -3.461e+04    948.488    -36.486      0.000   -3.65e+04   -3.27e+04
==============================================================================
Omnibus:                   208417.331   Durbin-Watson:                   0.039
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          4117187.627
Skew:                           3.457   Prob(JB):                         0.00
Kurtosis:                      20.443   Cond. No.                         121.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
temperature    1.494910e-258
mean           4.889404e-115
min            4.205241e-203
max             0.000000e+00
std            9.064880e-291
dtype: float64
Mean Absolute Error 98842.23060077435

In [44]:
train_data =train_data.join(temperature_rolling, rsuffix='_r')
train_data.drop('temperature_r', axis=1, inplace=True)

### 1.3 Adding Lag Feature

In [ ]:
shifts = np.arange(1, 24)

temperature_shifts = pd.DataFrame({'temperature_shift_{}'.format(n_shift) : train_data.temperature.shift(n_shift) for n_shift in
                                  shifts})

,series_id,consumption,temperature,year,month,dayofweek,hour,mean,min,max,std
timestamp,,,,,,,,,,,
2013-01-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-02 00:00:00,103298.0,135802.353408,-3.766667,2013,January,Wednesday,0,11.975000,-3.766667,18.633333,4.562769
2013-01-02 00:00:00,103298.0,135802.353408,-3.766667,2013,January,Wednesday,0,11.355903,-3.766667,17.075000,4.798539
2013-01-02 00:00:00,102642.0,28843.506793,-3.766667,2013,January,Wednesday,0,11.975000,-3.766667,18.633333,4.562769
2013-01-02 01:00:00,102642.0,28843.506793,-3.766667,2013,January,Wednesday,0,11.355903,-3.766667,17.075000,4.798539
2013-01-02 01:00:00,103298.0,135586.622902,-3.833333,2013,January,Wednesday,1,11.290972,-3.833333,18.633333,5.583897
2013-01-02 01:00:00,103298.0,135586.622902,-3.833333,2013,January,Wednesday,1,10.876389,-3.833333,17.075000,5.676967
2013-01-02 01:00:00,102642.0,26445.243198,-3.833333,2013,January,Wednesday,1,11.290972,-3.833333,18.633333,5.583897
2013-01-02 02:00:00,102642.0,26445.243198,-3.833333,2013,January,Wednesday,1,10.876389,-3.833333,17.075000,5.676967
2013-01-02 02:00:00,103298.0,141357.413933,-3.733333,2013,January,Wednesday,2,10.631250,-3.833333,18.633333,6.364874
2013-01-02 02:00:00,103298.0,141357.413933,-3.733333,2013,January,Wednesday,2,10.429167,-3.833333,17.075000,6.375430
2013-01-02 02:00:00,102642.0,28679.722938,-3.733333,2013,January,Wednesday,2,10.631250,-3.833333,18.633333,6.364874
2013-01-02 03:00:00,102642.0,28679.722938,-3.733333,2013,January,Wednesday,2,10.429167,-3.833333,17.075000,6.375430
2013-01-02 03:00:00,103298.0,138645.373288,-3.666667,2013,January,Wednesday,3,10.034722,-3.833333,18.633333,7.002041
2013-01-02 03:00:00,103298.0,138645.373288,-3.666667,2013,January,Wednesday,3,9.972222,-3.833333,17.075000,6.974332
2013-01-02 03:00:00,102642.0,26100.127218,-3.666667,2013,January,Wednesday,3,10.034722,-3.833333,18.633333,7.002041
2013-01-02 04:00:00,102642.0,26100.127218,-3.666667,2013,January,Wednesday,3,9.972222,-3.833333,17.075000,6.974332
2013-01-02 04:00:00,103298.0,144739.760077,-3.633333,2013,January,Wednesday,4,9.481944,-3.833333,18.633333,7.538245
2013-01-02 04:00:00,103298.0,144739.760077,-3.633333,2013,January,Wednesday,4,9.490625,-3.833333,17.075000,7.501025
2013-01-02 04:00:00,102642.0,28568.583893,-3.633333,2013,January,Wednesday,4,9.481944,-3.833333,18.633333,7.538245
2013-01-02 05:00:00,102642.0,28568.583893,-3.633333,2013,January,Wednesday,4,9.490625,-3.833333,17.075000,7.501025
2013-01-02 05:00:00,103298.0,152267.213798,-3.500000,2013,January,Wednesday,5,8.947222,-3.833333,18.633333,7.990823
2013-01-02 05:00:00,103298.0,152267.213798,-3.500000,2013,January,Wednesday,5,9.018750,-3.833333,17.075000,7.952964
2013-01-02 05:00:00,102642.0,19852.943025,-3.500000,2013,January,Wednesday,5,8.947222,-3.833333,18.633333,7.990823
2013-01-02 06:00:00,102642.0,19852.943025,-3.500000,2013,January,Wednesday,5,9.018750,-3.833333,17.075000,7.952964
2013-01-02 06:00:00,103298.0,258221.710795,-3.433333,2013,January,Wednesday,6,8.425694,-3.833333,18.633333,8.380507
2013-01-02 06:00:00,103298.0,258221.710795,-3.433333,2013,January,Wednesday,6,8.571528,-3.833333,17.075000,8.345897
2013-01-02 06:00:00,102642.0,26883.949953,-3.433333,2013,January,Wednesday,6,8.425694,-3.833333,18.633333,8.380507
2013-01-02 07:00:00,102642.0,26883.949953,-3.433333,2013,January,Wednesday,6,8.571528,-3.833333,17.075000,8.345897
2013-01-02 07:00:00,103298.0,275980.954220,-3.066667,2013,January,Wednesday,7,7.920833,-3.833333,18.633333,8.700135
...,...,...,...,...,...,...,...,...,...,...,...
2017-12-28 18:00:00,103436.0,60846.658433,0.188889,2017,December,Thursday,17,-5.340278,-9.344444,1.322222,3.834108
2017-12-28 19:00:00,103436.0,59795.244831,-0.488889,2017,December,Thursday,18,-5.131944,-9.344444,1.322222,3.959474
2017-12-28 20:00:00,103436.0,59701.554510,-1.222222,2017,December,Thursday,19,-4.923611,-9.344444,1.322222,4.030517
2017-12-28 21:00:00,103436.0,60732.148041,-1.955556,2017,December,Thursday,20,-4.715278,-9.344444,1.322222,4.050097
2017-12-28 22:00:00,103436.0,61096.499289,-2.577778,2017,December,Thursday,21,-4.512500,-9.344444,1.322222,4.029291
2017-12-28 23:00:00,103436.0,186953.830418,-3.144444,2017,December,Thursday,22,-4.318056,-9.344444,1.322222,3.975427
2017-12-29 00:00:00,103436.0,61533.720786,-3.711111,2017,December,Thursday,23,-4.131944,-9.344444,1.322222,3.890525
2017-12-29 01:00:00,103436.0,72703.689050,-4.277778,2017,December,Friday,0,-3.958796,-9.344444,1.322222,3.781718
2017-12-29 02:00:00,103436.0,61554.540858,-4.844444,2017,December,Friday,1,-3.800926,-9.344444,1.322222,3.655055
2017-12-29 03:00:00,103436.0,61575.360929,-5.411111,2017,December,Friday,2,-3.658333,-9.344444,1.322222,3.514235
2017-12-29 04:00:00,103436.0,83259.465209,-5.955556,2017,December,Friday,3,-3.531019,-9.344444,1.322222,3.364020
2017-12-29 05:00:00,103436.0,85081.221449,-6.488889,2017,December,Friday,4,-3.418981,-9.344444,1.322222,3.208984
2017-12-29 06:00:00,103436.0,84820.970558,-7.022222,2017,December,Friday,5,-3.322222,-8.800000,1.322222,3.053806
2017-12-29 07:00:00,103436.0,64937.802447,-6.333333,2017,December,Friday,6,-3.219444,-7.900000,1.322222,2.899018
2017-12-29 08:00:00,103436.0,58972.852014,-5.033333,2017,December,Friday,7,-3.100000,-7.022222,1.322222,2.753174
2017-12-29 09:00:00,103436.0,60253.286400,-3.733333,2017,December,Friday,8,-2.963889,-7.022222,1.322222,2.629976
2017-12-29 10:00:00,103436.0,99780.191801,-2.188889,2017,December,Friday,9,-2.822222,-7.022222,1.322222,2.573393
2017-12-29 11:00:00,103436.0,121797.417222,-0.522222,2017,December,Friday,10,-2.680556,-7.022222,1.322222,2.603613
2017-12-29 12:00:00,103436.0,95231.006218,1.144444,2017,December,Friday,11,-2.538889,-7.022222,1.322222,2.717742
2017-12-29 13:00:00,103436.0,96334.469998,2.188889,2017,December,Friday,12,-2.408333,-7.022222,2.188889,2.868732
2017-12-29 14:00:00,103436.0,138484.704385,2.922222,2017,December,Friday,13,-2.294444,-7.022222,2.922222,3.026257
2017-12-29 15:00:00,103436.0,60961.168825,3.655556,2017,December,Friday,14,-2.197222,-7.022222,3.655556,3.181021
2017-12-29 16:00:00,103436.0,63022.355886,3.033333,2017,December,Friday,15,-2.125926,-7.022222,3.655556,3.280939
2017-12-29 17:00:00,103436.0,61721.101428,1.733333,2017,December,Friday,16,-2.085185,-7.022222,3.655556,3.324062
2017-12-29 18:00:00,103436.0,63782.288489,0.433333,2017,December,Friday,17,-2.075000,-7.022222,3.655556,3.331699
2017-12-29 19:00:00,103436.0,63480.397455,-0.488889,2017,December,Friday,18,-2.075000,-7.022222,3.655556,3.331699
2017-12-29 20:00:00,103436.0,82541.172748,-1.222222,2017,December,Friday,19,-2.075000,-7.022222,3.655556,3.331699
2017-12-29 21:00:00,103436.0,62939.075601,-1.955556,2017,December,Friday,20,-2.075000,-7.022222,3.655556,3.331699
2017-12-29 22:00:00,103436.0,61637.821143,-2.200000,2017,December,Friday,21,-2.059259,-7.022222,3.655556,3.330112
2017-12-29 23:00:00,103436.0,105235.050487,-2.200000,2017,December,Friday,22,-2.019907,-7.022222,3.655556,3.322302